# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
# Only exists if Bazel was run
/bazel-out

# dependencies
/node_modules

# profiling files
chrome-profiler-events*.json
speed-measure-plugin*.json

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
backend/.idea

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Django media files
backend/media/*
backend/db.sqlite3
backend/env
backend/static

# CPython files
*.pyc

backend/Data/Train/*
backend/Data/Train_old/*
backend/Data/Test/*
backend/Network/weights/*
backend/Data/X_val.npy
backend/Data/Val_Data/*
backend/Data/best_worst/*