.modify-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
.modify-container{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
    height: 84vh;
    padding-top: 1%;
    box-shadow: 5px 0 5px -2px #888;
  }


.network-input{
  width: 30%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box{
  background: #29313A 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
padding: 1%;
margin-top: 1%;
}

::ng-deep .mat-select-arrow , .mat-select-underline , .mat-select-trigger 
{
    color: #0088FF;
}

.my-label{
  width: 50%;
  word-wrap: break-word;
  text-align: left;
  font: normal normal bold 18px/24px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  padding-left: 10%;
}

.my-dropdown {
  width: 50%;
  background: #f2f2f2;
  border: 1px solid;
  margin-right: 2%;
  padding: 1%;
  padding-left: 3%;
  font: normal normal bold 16px/20px Montserrat;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.hyp-input{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 1%;
}

.my-text-input{
  width: 50%;
  background: #f2f2f2;
  border: 1px solid;
  margin: 5%;
  margin-right: 4%;
  padding: 1%;
  padding-left: 3%;
  font: normal normal bold 16px/20px Montserrat;
  border-color: white #f7f7f7 whitesmoke;
  border-radius: 20px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.06));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.06));
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08);
}

.heading{
  width: 100%;
  text-align: left;
font: normal normal bold 26px/32px Montserrat;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
padding: 10% 2% 2% 10%;
}

.network-image{
  display: block;
  max-width:100%;
  max-height:30%;
  width: auto;
  height: auto;
}

.blue-arrow{
  color:white; 
  background-color:#0088FF; 
  border-radius: 50%;
  margin-right: 5%;
}
