<div class="container">
    <div class="box">
        <a href="/pages/data"><img src="../../../assets/images/data.png"></a>
        <div class="heading">Data</div>
        <div class="desc">Upload, transform and visualise your data with great control and ease.</div>
    </div>
    <div class="box">
        <a href="/pages/network"><img src="../../../assets/images/network.png"></a>
        <div class="heading">Network</div>
        <div class="desc">View, Modify and Train your network within a few clicks.</div>
    </div>
    <div class="box">
        <a href="/pages/results"><img src="../../../assets/images/result.png"></a>
        <div class="heading">Result</div>
        <div class="desc">View and analyze your data, network and training results.</div>
    </div>
</div>