<div *ngIf="images != undefined" class="row d-flex" style="margin-top: 20px;">
  <div class="col-sm-12">
    <div class="container-fluid" style="display: flex; flex-direction: column;">
      <div style="width: 100%; height: 90vh; margin: auto;">
        <div class="swiper-container gallery-top bottom-carousel-container d-flex justify-content-center" id="galleryTop">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let img of images">
              <img src="{{img.b64}}" class="carousel-image">
            </div>
          </div>
          <!-- Add Arrows -->
          <div class="swiper-button-next swiper-button-blue"></div>
          <div class="swiper-button-prev swiper-button-blue"></div>
        </div>
        <div class="swiper-container gallery-thumbs bottom-carousel-container" id="galleryThumbs">
            <div class="swiper-wrapper">
              <div class="swiper-slide" *ngFor="let img of images">
                <img src="{{img.b64}}" class="carousel-image">
              </div>
            </div>
      </div>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngIf="images.length == 1">
  <div class="d-flex justify-content-center" style="width: 100%; height: 80vh; margin: auto; align-items: center;">
    <div id='crop-select'></div>
  </div>
  -->

  <!-- <section id="sectionDragAndDrop">
    <div class="drop" id="drop">
        <p>Drag & drop or click here to upload an image.</p>
    </div>
    <input class="file-upload hidden" id="fileUpload" type="file">
  </section>

  <section class="hidden" id="sectionResize">
    <div class="image-resize" id="imageResize"></div>
  <button class="btn" id="crop"><span class='fa fa-crop'></span> Crop</button>
  </section>

  <section class="hidden" id="sectionThumbnail">
    <div class="thumbnail" id="thumbnail"></div>
  </section> -->
<!-- </div> -->